<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf=8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Resume Optimizer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1 class="title">AI Resume Optimizer</h1>
        <div class="form_div">
            <form action="/submit" method="post" enctype="multipart/form-data"> 
                <h2></h2>
                <fieldset class="inputs">
                <label for="job_url">Job Title</label>
                <br>
                <input type="text" id="job_url" name="job_url" placeholder="Job Title, keywords, or company" required>
                </fieldset>
                <fieldset class="inputs">
                <label for="resume">Upload Resume</label>
                <br>
                <input type="file" id="resume" name="file" required>
                </fieldset>
                <fieldset id="submit_field">
                <button id="submit">Submit</button>
                </fieldset>
            </form>
            <div class="output_div">
                <h2 id="gptresponse">GPT Response</h2>
                <div class="response">
                    {% if result %}
                        <p>{{ result }}</p>
                    {% endif %} 
                </div>
            </div>
        </div>
    </body>
</html>